body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

legend {
    font-size: 18px;
    font-weight: bold;
    padding: 0 10px;
    color: #333;
}
legend span {
    color: red;
}

input[type="submit"] {
    width: 100%;
    background-color: rgb(29, 216, 119);
    color: #f4f4f4;
    text-align: center;
}

input[type="submit"]:hover {
    background-color: #9445a0;
}

.requaired {
    color: red;
}

